[Unit]
Description=Set device Bluetooth MAC address using bootmac
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bootmac --bluetooth
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target

