iio-sensor-proxy
0001-iio-sensor-proxy-depend-on-libssc.patch
0002-proximity-support-SSC-proximity-sensor.patch
0003-light-support-SSC-light-sensor.patch
0004-accelerometer-support-SSC-accelerometer-sensor.patch
0005-compass-support-SSC-compass-sensor.patch
0006-data-add-libssc-udev-rules.patch
0007-CI-add-libssc-build.patch
0008-data-iio-sensor-proxy.service.in-add-AF_QIPCRTR.patch
